.delete-change-button {
  display: block;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
  font-style: italic;
  color: #eb4511;
}

.delete-change-button:hover {
  color: #00a7ff;
}

.delete-change-button:focus {
  outline: none;
}
