.postdetail-page-container__commentlist__item {
  position: relative;
  margin: 0;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

.postdetail-page-container__commentlist__item__userdata {
  font-size: 0.8rem;
}

.postdetail-page-container__commentlist__item__body {
  font-size: 1rem;
  margin-top: 0.3rem;
}

.postdetail-page-container__commentlist__item__streep {
  position: absolute;
  left: 0;
  width: 5px;
  background-color: #c7e0f0;
  height: 100%;
}
