/* //////////// */
/* MOBILE FIRST */
/* //////////// */

/* BASIS */
.small-round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
}

.small-round-button:hover {
  cursor: pointer;
  background-color: #eb4511;
}

.small-round-button:focus {
  background-color: #eb4511;
  border: none;
  outline: none;
}

/* VERSIES */
.small-round-button--logout {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 1.8rem;
  height: 1.8rem;
}
.small-round-button--set-addpost {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 200;
}

.small-round-button--addcomment {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 200;
}

.small-round-button--addcomment p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(-10deg);
  color: white;
  margin-bottom: 4px;
}

.small-round-button--addpost {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 200;
}

.small-round-button--set-addpost p,
.small-round-button--addpost p {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(-10deg);
  color: white;
  margin-bottom: 4px;
}

/* ///////////////// */
/* TABLET PORTRAIT */
/* /////////////// */

@media screen and (min-width: 750px) {
  /* VERSIES */
  .small-round-button--logout {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 3rem;
    height: 3rem;
  }

  .small-round-button--set-addpost {
    top: 3rem;
    right: 3rem;
  }
}

/* //////////////// */
/* TABLET LANDSCAPE*/
/* ////////////// */

@media screen and (min-width: 992px) {
  /* VERSIES */
  .small-round-button--logout {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 3rem;
    height: 3rem;
  }

  .small-round-button--set-addpost {
    top: 3rem;
    right: 4rem;
  }
}

/* //////////////// */
/* LAP- and DESKTOP */
/* //////////////// */

@media screen and (min-width: 1300px) {
  /* VERSIES */
  .small-round-button--logout {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 3rem;
    height: 3rem;
  }

  .small-round-button--set-addpost {
    top: 3rem;
    right: 5rem;
  }
}
