/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 100;
}

.nav-container__logo {
  width: 3rem;
  height: 3rem;
}

.nav-container__links {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

.nav-container__links--auth {
  position: absolute;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1rem;
}

.nav-container__links__link:hover {
  cursor: pointer;
  color: #eb4511;
}

/* ///////////////// */
/* TABLET PORTRAIT */
/* /////////////// */

@media screen and (min-width: 750px) {
  .nav-container {
    padding: 3rem 3rem 1rem 3rem;
  }

  .nav-container__links--auth {
    padding: 0rem 3rem;
  }
}

/* //////////////// */
/* TABLET LANDSCAPE*/
/* ////////////// */

@media screen and (min-width: 992px) {
  .nav-container {
    padding: 3rem 4rem 1rem 4rem;
  }

  .nav-container__links {
    margin-left: 20vw;
  }

  .nav-container__links--auth {
    padding: 0rem 4rem;
  }
}

/* //////////////// */
/* LAP- and DESKTOP */
/* //////////////// */

@media screen and (min-width: 1300px) {
  .nav-container {
    padding: 3rem 5rem 1rem 5rem;
  }

  .nav-container__links--auth {
    padding: 0rem 5rem;
  }
}
