.posts-page-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* background-color: thistle; */
}
.posts-page-container__loadingbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.posts-page-container__loadingbox h1{
  font-size: 4rem;
}

.posts-page-container__bottomtext {
  position: fixed;
  left:0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  padding: 0 0 2rem 0;
  width: 100vw;
  /* background-color: thistle; */
}

/* .posts-page-container__bottomtext__item{
  background-color: blue;
} */

.posts-page-container__pagineringbox{
  position: fixed;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  padding: 0 2rem 2rem 0;
  /* background-color: blue; */
}

/* .posts-page-container__pagineringbox__item__link{
  color: #5c7e9c;
} */

.posts-page-container__pagineringbox__item__link:hover {
  cursor: pointer;
  color: #EB4511;
}