/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.posts-page-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(149, 247, 198); */
}

.posts-page-container__bottomtext {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  padding: 0 0 2rem 0;
  width: 100vw;
}

.posts-page-container__bottomtext p {
  font-size: 0.9rem;
}

.posts-page-container__pagineringbox {
  position: fixed;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  padding: 0 1rem 2rem 0;
}

.posts-page-container__pagineringbox__item__link {
  font-size: 0.9rem;
}

.posts-page-container__pagineringbox__item__link:hover {
  cursor: pointer;
  color: #eb4511;
}

/* ///////////////// */
/* MOBILE LANDSCAPE */
/* /////////////// */

/* @media screen and (min-width: 415px) {} */

/* ///////////////// */
/* TABLET PORTRAIT */
/* /////////////// */

@media screen and (min-width: 750px) {

  .posts-page-container__bottomtext {
    padding: 0 0 3rem 0;
  }

  .posts-page-container__bottomtext p {
    font-size: 1rem;
  }

  .posts-page-container__pagineringbox {
    padding: 0 3rem 3rem 0;
  }

  .posts-page-container__pagineringbox__item__link {
    font-size: 1rem;
  }
}

/* //////////////// */
/* TABLET LANDSCAPE*/
/* ////////////// */

@media screen and (min-width: 992px) {
  .posts-page-container__bottomtext {
    padding: 0 0 3rem 0;
  }

  .posts-page-container__pagineringbox {
    padding: 0 4rem 3rem 0;
  }
}

/* //////////////// */
/* LAP- and DESKTOP */
/* //////////////// */

@media screen and (min-width: 1300px) {
  .posts-page-container__pagineringbox {
    padding: 0 5rem 3rem 0;
  }
}
