/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.loadingbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loadingbox-container__text {
  font-size: 2rem;
}

/* ///////////////// */
/* MOBILE LANDSCAPE */
/* /////////////// */
/* @media screen and (min-width: 415px) {} */

/* ////////////////////// */
/* TABLET PORTRAIT AND UP */
/* ////////////////////// */

@media screen and (min-width: 750px) {
  .loadingbox-container__text {
    font-size: 4rem;
  }
}
