.post-slider {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; */
  height: 90vh;
  /* background-color: blue; */
}

.Main-post-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 45vh;
  margin: 45vh 0 0 0;
  /* background-color: pink; */
}

/* .Main-post-container:hover {
  cursor: pointer;
}
.Main-post-container:focus {
  outline: none;
} */

.Main-post-container--inner {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(14, 14, 179);
  /* position: absolute; */
  /* height: 100%; */
  width: 60%;
  /* top: 40%; */
  text-align: center;
  /* background-color: red; */
}