/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.post-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh; /* vooral voor iphone */
  /* background-color: pink; */
}

.main-post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  /* background-color: lightblue; */
}

.main-post-container--inner {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(14, 14, 179);
  width: 80%;
  text-align: center;
}

/* ////////////////////// */
/* TABLET PORTRAIT AND UP */
/* ////////////////////// */

@media screen and (min-width: 750px) {
  .post-slider {
    height: 100vh;
  }
  
  .main-post-container {
    height: 100vh;
  }
}