/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.main-post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.main-post-container--inner {
  overflow-x: hidden;
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(14, 14, 179);
  width: 80%;
  text-align: center;
}

/* ////////////////////// */
/* TABLET PORTRAIT AND UP */
/* ////////////////////// */

@media screen and (min-width: 750px) {

  .main-post-container--inner {
    font-size: 5rem;
  }
}
