/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.main-post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.main-post-container--inner {
  overflow-x: hidden;
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(14, 14, 179);
  width: 80%;
  text-align: center;
}

.link {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
}

.date-small {
  font-size: 1rem;
  color: rgb(26, 25, 32);
}

/* ////////////////////// */
/* TABLET PORTRAIT AND UP */
/* ////////////////////// */

@media screen and (min-width: 750px) {
  .main-post-container--inner {
    font-size: 5rem;
  }
}

/* //////////////// */
/* LAP- and DESKTOP */
/* //////////////// */

@media screen and (min-width: 1300px) {

  .link {
    padding: 2rem;
    background-color: transparent;
  }
}
