/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.onboarding-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 65vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: #83c0e6;
  border-radius: 50%;
  z-index: 998;
}

.onboarding-button:hover {
  cursor: pointer;
}

.onboarding-button:focus {
  outline: none;
}

.onboarding-button__text {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  transform: rotate(-10deg);
  color: white;
  margin-bottom: 8px;
}

/* /////////////// */
/* TABLET PORTRAIT */
/* /////////////// */

@media screen and (min-width: 750px) {
  .onboarding-button {
    top: 65vh;
    height: 140px;
    width: 140px;
  }

  .onboarding-button__text {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
}

/* //////////////// */
/* TABLET LANDSCAPE */
/* //////////////// */

@media screen and (min-width: 992px) {
  .onboarding-button {
    top: 55vh;
  }

  .onboarding-button.link {
    background-color: #83c0e6;
  }
}

/* //////////////// */
/* LAP- and DESKTOP */
/* //////////////// */

@media screen and (min-width: 1300px) {
  .onboarding-button {
    top: 65vh;
  }
}
