/* //////////// */
/* MOBILE FIRST */
/* //////////// */

.authpage-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.authpage-container--register{
  background-color: #C7E0F0;
}


.authpage-container__form{
  width: 100%;
  padding: 1rem;
  background-color: pink;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

/* ///////////////// */
/* MOBILE LANDSCAPE */
/* /////////////// */

@media screen and (min-width: 415px) {
  .authpage-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .authpage-container--register{
    background-color: #C7E0F0;
  }
  
  
  .authpage-container__form{
    width: 50vw;
    /* height: 40vh; */
    /* background-color: pink; */
  }
}

/* ///////////////// */
/* TABLET PORTRAIT */
/* /////////////// */

@media screen and (min-width: 750px) {

}

/* //////////////// */
/* TABLET LANDSCAPE*/
/* ////////////// */

@media screen and (min-width: 992px) {

}

/* //////////////// */
/* LAP- and DESKTOP */
/* //////////////// */

@media screen and (min-width: 1300px) {

}


