.authpage-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authpage-container--register{
  background-color: #C7E0F0;
}


.authpage-container__form{
  width: 50vw;
  height: 40vh;
  /* background-color: pink; */
}