/* //////////// */
/* MOBILE FIRST */
/* //////////// */

input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 3px solid #0b2a45;
  font-size: 1rem;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  -webkit-text-fill-color: #0b2a45;
  transition: background-color 5000s ease-in-out 0s;
}

.authfield__input-wrapper {
  position: relative;
  width: 100%;
  margin: 1.5rem auto;
  padding: 0;
}

.authfield {
  height: 2rem;
  width: 100%;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #0b2a45;
}

.authfield::placeholder {
  color: #0b2a45;
}

.authfield:focus + .input-highlight {
  border-top: 3px solid white;
}

.authfield--error {
  color: #eb4511;
  border-bottom: 3px solid #eb4511;
}

.authfield--error:focus + .input-highlight {
  border-top: 3px solid white;
}

.authfield--error::placeholder {
  color: #eb4511;
}

.authfield__input-highlight {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  user-select: none;
  border-top: 3px solid white;
  position: absolute;
  height: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
}

.authfield__feedback {
  position: absolute;
  left: 0;
  top: 2rem;
  font-size: 0.8rem;
  color: #eb4511;
  margin-top: 0.5rem;
  z-index: 100;
}

/* ////////////////////// */
/* TABLET PORTRAIT AND UP */
/* ////////////////////// */

@media screen and (min-width: 750px) {
  input:-webkit-autofill::first-line,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-bottom: 3px solid #0b2a45;
    font-size: 2rem;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    -webkit-text-fill-color: #0b2a45;
    transition: background-color 5000s ease-in-out 0s;
  }

  .authfield__input-wrapper {
    margin: 1rem auto;
  }

  .authfield {
    height: 4rem;
    font-size: 2rem;
  }

  .authfield__input-highlight {
    font-size: 2rem;
  }

  .authfield__feedback {
    top: 4rem;
    font-size: 1rem;
  }
}
